:host {
  margin: 0;
  padding: 0 16px;
  background-color: rgb(152, 152, 152);
}

@font-face {
  font-family: "Bungee Shade";
  src: url("../../../assets/fonts/BungeeShade-Regular.woff2") format('woff2');
}

.logo {
  font-family: "Bungee Shade", sans-serif;
}

nav {
  text-align: right;
  font-size: 70%;
  white-space: nowrap;
}

.toolbar-link a {
  padding: 0px 8px;
}
