:host {
  margin: auto 16px;
}

@media only screen and (min-width: 601px) {
  :host {
    margin: auto 15%;
  }
}

@font-face {
  font-family: "Bungee Shade";
  src: url("../../../assets/fonts/BungeeShade-Regular.woff2") format('woff2');
}

.logo {
  font-family: "Bungee Shade", sans-serif;
}

nav {
  text-align: right;
  font-size: 70%;
  white-space: nowrap;
}

.toolbar-link a {
  padding: 0px 8px;
}
