:host {
  flex: 1 0 auto !important;
  margin: auto 16px;
}

@media only screen and (min-width: 601px) {
  :host {
    margin: auto 15%;
  }
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 24px;
  margin: 16px 0;
}

.clickable-card {
  width: 100%;
  cursor: pointer;
  min-height: 250px;
}

img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
