:host {
  flex: 1 0 auto !important;
  margin: auto 16px;
}

@media only screen and (min-width: 601px) {
  :host {
    margin: auto 15%;
  }
}

ul { list-style-type: none; padding-left: 0; }

li { font-family: monospace, monospace; font-size: 1em; line-height: 2rem; }
