:host {
  flex: 1 0 auto !important;
  margin: auto 16px;
}

@media only screen and (min-width: 993px) {
  :host {
    margin: auto 30%;
  }
}

@media only screen and (min-width: 601px) {
  :host {
    margin: auto 15%;
  }
}

/* Code Blocks */

:host ::ng-deep pre {
    margin-top: 0;
    margin-bottom: 0;
}

:host ::ng-deep pre code {
    font-family: monospace, monospace;
    display: block;
    overflow-x: auto;
    padding: 1em;
}

:host ::ng-deep pre code.sourcecode-name {
    background-color: #ebf1f5;
    border: 2px solid #bcd;
    border-bottom: none;
}

:host ::ng-deep pre code.sourcecode {
  background-color: #ebf1f5;
  border: 2px solid #bcd;
  border-top-style: dashed;
}

:host ::ng-deep pre code.terminal {
    color: white;
    background-color: black;
}

/* Images */

:host ::ng-deep img {
  display: block;
  position: relative;
  width: 100%;
  margin: 24px auto;
}

:host ::ng-deep img.tiny-img {
  max-width: 320px;
}

:host ::ng-deep img.small-img {
  max-width: 428px;
}

:host ::ng-deep img.normal-img {
  max-width: 640px;
}

:host ::ng-deep img.large-img {
  max-width: 960px;
}

/* Tables */

:host ::ng-deep table {
  border: 1px solid black;
}