:host {
  flex: 1 0 auto !important;
  margin: 16px;
}

@media only screen and (min-width: 601px) {
  :host {
    margin: 16px 15%;
  }
}

:host ::ng-deep img {
  max-width: 100%;
}

:host ::ng-deep :not(pre) > code {
  display: inline-block;
  padding: 0 0.3em;
  border-width: 0;
  border-radius: 0;
  background-color: #ebf1f5;
  font-family: monospace,monospace;
  border: 1px solid #dadde3;
}

:host ::ng-deep p {
  font-size: 1em;
  line-height: 1.2em;
  font-weight: 500;
}
