:host {
  flex: 1 0 auto !important;
  margin: auto 16px;
}

@media only screen and (min-width: 993px) {
  :host {
    margin: auto 30%;
  }
}

@media only screen and (min-width: 601px) {
  :host {
    margin: auto 15%;
  }
}

@font-face {
  font-family: "Bungee Shade";
  src: url("../../assets/fonts/BungeeShade-Regular.woff2") format('woff2');
}

h1 {
  font-family: "Bungee Shade", sans-serif;
  text-align: center;
}

h2 { text-align: center; }

.card {
  float: left;
  border-style: solid;
  border-width: thin;
  width: 256px;
  height: 256px;
  margin: 8px;
}

.card p {
  text-align: center;
}

img {
  width: 256px;
  height: 128px;
  border-bottom: thin solid black;
}
