:host {
  flex: 1 0 auto;
}

@font-face {
  font-family: "Bungee Shade";
  src: url("../../assets/fonts/BungeeShade-Regular.woff2") format('woff2');
}

h1 {
  font-family: "Bungee Shade", sans-serif;
  text-align: center;
  font-weight: bold;
}